body {
    background-color: var(--dark-background);
}

.main-column-app {
    padding-top: 10px;
    height: 100vh;
    border-right: 1px solid var(--dark-gray);
}

/* LATERAL BAR */
.lateralbar-wrapper {
    position: fixed;
    width: 60px;
    border-right: 1px solid var(--dark-gray);
    height: 100%;
}

.lateralbar-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.twitter-icon-lateralbar {
    width: 30px;
}

.blue-circle {
    margin-left: -10px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 13px;
    background-color: var(--blue)
}


.svg-small {
    cursor: pointer;
    width: 27px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(143deg) brightness(104%) contrast(100%);
}