.user-column {
    padding-left: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.svg-smaller {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(143deg) brightness(104%) contrast(100%);
}

.user-top-navbar {
    cursor: pointer;
    display: flex;
    gap: 35px;
    position: fixed;
    padding-left: 10px;
    height: 40px;
}

/* USER PROFILE PAGE */

.user-profile-username {
    margin-top: -8px;
}

.number-tweets {
    color: var(--dark-gray);
    line-height: 80%;
    font-size: small;
}

.user-profile-cover {
    margin-top: 45px;
    margin-left: -10px;
    position: relative;
}
.user-image-cover {
    margin-left: 0px;
    width: 100%
}

.user-header-info {
    width: 100%;
}